*{
    background-color: #f0bcd4;
}

.header{

    text-align : left;
    background-color : #D3D3D3;
    color : #333333;
    height : 50px;
    border : #333333 solid;

}

.header-component{

    background-color : #D3D3D3;
    margin : 0;
    padding-top: 11px;
    padding-left : 20px;
    padding-right : 20px;
    font-family: "Gupter", serif;
    font-weight: 400;
    font-style: normal;

}

ul.headerlist{
    list-style-type : none;
    margin : 0;
    padding : 0;
}

li{
    float : left;
}

.mainpage{

    text-align: center;
    margin : 0;

}

.aboutme{

    text-align : center;
    margin : 0;
    
}

.maintitle{
    font-family: "Petit Formal Script", cursive;
    font-weight: 700;
    font-style: normal;
    color : #333333;
}

#search{

    height : 30px;
    width : 300px;
    position : relative;
    top : 10px;
    border-radius : 50px;
    border-width : 3px;
    border-color : #333333;

}

.grid-container{
    display : grid; 
    grid-template-columns: auto auto auto;
    position : relative;
    left : 80px;
    top : 80px;
    grid-gap : 100px 10px;
}

.grid-item{

    border : 2px solid; 
    border-radius : 50px;
    width : 300px;
    height : 200px;
    text-align : center;
    background-color: #a14a76;
    border-color : #333333; 

}

/*#firstBox {

    border : 2px solid; 
    width : 200px;
    height : 200px;
    position : relative;
    top : 50px;
    left : 210px; 

}

#secondBox{

    border : 2px solid; 
    width : 200px;
    height : 200px;
    position : relative;
    top : -154px;
    left : 610px; 

}

#thirdBox{

    border : 2px solid; 
    width : 200px;
    height : 200px;
    position : relative;
    top : -360px;
    left : 1010px; 

}*/

.recipe_name{

    position : relative; 
    top : 40px;
    background-color: #a14a76;
    font-size : 30px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight : 400px; 
    color : #333333

}

.title{

    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight : 400px; 
    font-size : 50px;
    text-align : center;
    color : #333333;

}

.subtitle{

    text-align: left;
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
    color : #333333
    
}

.instruct{

    text-align: left;
    color : #333333

}

.instr_comp{

    float : none;

}

.instr_list{
    color : #333333;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

a{
    text-decoration: none;
}
a:visited{
    color : #333333;
}


